<div ng-app="congeladosApp">
  <div class="z-loader" ng-show="rootLoader" layout layout-align="center center">
    <md-progress-circular md-mode="indeterminate" flex="1"></md-progress-circular>
  </div>
  <div ng-controller="ToolbarCtrl">
    <md-toolbar class="md-hue-2" ng-hide="$state.current.name == 'login' || $state.current.name == 'register'">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="abrirSidenav()">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>
          <span>Congelados</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo" style="color: white">
        <h1 class="md-toolbar-tools">Congelados</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-list>
          <md-subheader>Inicio</md-subheader>
          <md-list-item ui-sref="index" class="noright">
            <md-icon md-svg-icon="view-dashboard"></md-icon>
            <p>Dashboard</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader>Inventario</md-subheader>
          <md-list-item ui-sref="embarques-historial" class="noright">
            <md-icon md-svg-icon="book"></md-icon>
            <p>Remesas activas</p>
          </md-list-item>
          <md-list-item ui-sref="embarquesdashboard" class="noright">
            <md-icon md-svg-icon="equal-box"></md-icon>
            <p>Historial de remesas</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader>Clientes</md-subheader>
          <md-list-item ui-sref="addcustomer" class="noright">
            <md-icon md-svg-icon="account-plus"></md-icon>
            <p>Agregar nuevo cliente</p>
          </md-list-item>
          <md-list-item ui-sref="listcustomer" class="noright">
            <md-icon md-svg-icon="account-multiple"></md-icon>
            <p>Lista de clientes</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader>Usuarios</md-subheader>
          <md-list-item ui-sref="add-muchacho" class="noright">
            <md-icon md-svg-icon="account-multiple-plus"></md-icon>
            <p>Añadir muchacho</p>
          </md-list-item>
          <md-list-item ui-sref="list-muchacho" class="noright">
            <md-icon md-svg-icon="account-multiple"></md-icon>
            <p>Lista de muchachos</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item ng-click="rootLogout()" class="noright">
            <md-icon md-svg-icon="logout"></md-icon>
            <p>Cerrar Sesión</p>
          </md-list-item>
        <md-list>
      </md-content>
    </md-sidenav>
  </div>
  <div class="ui-view-container">
    <div class="well" ui-view></div>
  </div>
</div>