<!DOCTYPE html>
<html>
  <head>
    <title>Congelados Delfín</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material-icons.css">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/md-data-table-style.css">
    <link rel="stylesheet" href="/styles/md-data-table.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/!ajquery.min.js"></script>
    <script src="/js/dependencies/!bangular.min.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-material-icons.min.js"></script>
    <script src="/js/dependencies/angular-material.min.js"></script>
    <script src="/js/dependencies/angular-messages.min.js"></script>
    <script src="/js/dependencies/angular-sails.min.js"></script>
    <script src="/js/dependencies/angular-sanitize.min.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.min.js"></script>
    <script src="/js/dependencies/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/md-data-table-templates.js"></script>
    <script src="/js/dependencies/md-data-table.js"></script>
    <script src="/js/ng/!app.js"></script>
    <script src="/js/ng/controllers/CustomersCtrl.js"></script>
    <script src="/js/ng/controllers/EmbarquesCtrl.js"></script>
    <script src="/js/ng/controllers/LoginCtrl.js"></script>
    <script src="/js/ng/controllers/MainCtrl.js"></script>
    <script src="/js/ng/controllers/MuchachosCtrl.js"></script>
    <script src="/js/ng/controllers/ToolbarCtrl.js"></script>
    <script src="/js/ng/services/HelperService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
