<form ng-submit="addMuchacho(addMuchachoData)">
<div flex="100" layout layout-wrap layout-padding layout-align="center center">
  <div flex-sm="100" flex-gt-sm="50" class="md-whiteframe-1dp padding-frame" layout layout-wrap layout-padding>
    <div class="login-title" style="color: #0288D1;"> 
      <h1>Añadir Muchacho</h1>
    </div>
    <md-input-container flex="100">
      <label>Nombre del muchacho</label>
      <input type="text" ng-model="addMuchachoData.name">
    </md-input-container>
    <div flex="100" layout>
      <span flex></span>
      <md-button class="md-primary md-raised white-button" type="submit">Añadir</md-button>
    </div>
  </div>
</div>
</form>