<div layout layout-padding layout-wrap>
  <div flex="100">
    <h4>Lista de Muchachos</h4>
  </div>
  <div flex="100" ng-init="getAllMuchachos()">
    <mdt-table 
      sortable-columns="true" 
      animate-sort-icon="true" 
      paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
      <mdt-header-row>
        <mdt-column align-rule="left">Nombre</mdt-column>
        <mdt-column align-rule="left">Fecha de creación</mdt-column>
        <mdt-column align-rule="left">Última edición</mdt-column>
        <mdt-column align-rule="left">Acciones</mdt-column>
        <mdt-column align-rule="left">PIN</mdt-column>
      </mdt-header-row>
      <mdt-row ng-repeat="muchacho in muchachos track by $index"
        table-row-id="muchacho.id">
        <mdt-cell>{{muchacho.name}}</mdt-cell>
        <mdt-cell>{{muchacho.createdAt | date}}</mdt-cell>
        <mdt-cell>{{muchacho.updatedAt | date}}</mdt-cell>
        <mdt-cell html-content="true">
          <md-button class="md-icon-button" aria-label="Edit" ng-click="openEditDialog(muchacho)">
            <md-tooltip md-direction="left">
              Editar muchacho
            </md-tooltip>
            <md-icon md-svg-icon="account-settings"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Remove" ng-click="openRemoveDialog(muchacho)">
            <md-tooltip md-direction="left">
              Borrar muchacho
            </md-tooltip>
            <md-icon md-svg-icon="account-remove"></md-icon>
          </md-button>
        </mdt-cell>
        <mdt-cell>{{muchacho.pin}}</mdt-cell>
      </mdt-row>
    </mdt-table>
  </div>
</div>